h1:hover{ 
    color :rgba(4, 28, 73, 0.781);
}
body{
    background-color: rgb(105, 202, 206);
   
     
  
}    

.one{
    font-style: oblique;
    color :rgb(252, 252, 252);
}

.two{
    font-style: oblique;
    color: rgb(255, 255, 255);
}
a{
    font-style: oblique;
    color: rgb(255, 255, 255); 
}
.b{
    image-rendering: optimizeQuality;
}
h2:hover{
    color :rgba(4, 28, 73, 0.781);
}
h3{
  color:rgb(255, 255, 255);
}
ul{
    color: rgb(255, 255, 255);
    font-style: oblique;
}
